* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height 100%
  font 14px Helvetica, Arial, sans-serif
}

a
  color #333
  text-decoration none
  border-bottom 1px solid #333
  transition 0.2s
  &:hover
    border-bottom 1px solid transparent
    transition 0.2s

.main_wrapper
  padding 50px
  .add_result
    font-size 16px
    display inline-block
    margin-left 20px
    font-weight normal

.result_table
  margin 50px 0 0
  width 100%
  border-collapse collapse
  text-align left
  border-spacing: 1;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  td, th
    padding-left: 8px;
  th
    height: 60px;
    background: #36304a;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight normal
  tr
    height: 50px;
    font-size: 16px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
  tr:nth-child(even)
    background-color: #f5f5f5;
  tr:hover
    color: #555555;
    background-color: #f5f5f5;
  .state_result
    display block
    width 10px
    height 10px
    border-radius 100%
    &.on
      background lightgreen
    &.off
      background red
  .control_button
    display block
    width 20px
    height 20px
    background url(/images/icon-cross.svg) no-repeat center
    background-size 90%
    border-bottom none
    opacity 0.5
    transition 0.2
    &:hover
      opacity 1
      transition 0.2
    &.copy_button
      background url(/images/icon-copy.svg) no-repeat center
      background-size 100%

.empty_result
  text-align center
  font-size 24px
  padding-top 50px
